body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 7%;
        height: 40px;
        background-color: #FBA834;
        color: white;
        border-bottom: 1px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
}

.Logo-Petcare img{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 200px;
   cursor: pointer;
}

#profilelogo:hover{
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav ul li a:hover{
    outline: black solid 2px;
    border-radius: 15px;
    padding: 6px;
    transition: 0.2s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBA834;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FBA834;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.My-History {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-bottom: 40px;
    border: 1px solid black;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #2c3e50;
}

.booking-section {
    margin-bottom: 20px;
}

.date {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-left: 20px;
}

.book-list {
    background-color: transparent;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-info {
    display: flex;
    flex-direction: column;
}

.book-info h1{
    font-size: 20px;
    font-weight: bold;
    color: #091155;
}

.live-chat-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.live-chat-button:hover {
    background-color: white;
    color: #000;
    font-weight: bold;
    border: 2px solid black;
}

h2{
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

.invoice-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

footer {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
}

.social-icon {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Message-Website {
    height: 120px;
    background-color: #FBA834;
    display: grid;
    place-items: center;
}

.footer-text {
    color: white;
}

.pet-care {
    color: black;
}

.Message-Website .footer-icon img {
    background-color: #FBA834;
    padding-bottom: 20px;
}

.Designed-footer {
    display: grid;
    place-items: center;
    height: 50px;
    background-color: black;
    color: white;
}

.garis-tiga{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.garis-tiga input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
} 

.garis-tiga span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 1s;
}

.garis-tiga span:nth-child(2){
    transform-origin: 0 0;
}

.garis-tiga span:nth-child(4){
    transform-origin: 0 100%;
}

.garis-tiga input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.garis-tiga input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.garis-tiga input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}

/*Responsive tools Tablet*/
@media screen and (min-width: 768px){
    nav ul{
        width: 50%;
    }
}

/*Responsive tools Hp*/
@media screen and (max-width: 768px){
    .garis-tiga{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        background-color: #FBA834;
        transition: all .2s;
        transform: translateX(100%);
        opacity: 0;

    }
    nav ul.muncul-responsive{
        opacity: 1;
        transform: translateX(0);
    }

    .Background-Welcome h1{
        font-size: 48px;
    }
    
    .Background-Welcome p{
        font-size: 24px;
    }

    .Card-Benefits{
        margin-left: 90px;
    }

    .My-History {
        background-color: #fff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 500px;
        margin-bottom: 30px;
        border: 1px solid black;
    }

}